# Template config miner-saya.
# GANTI_DENGAN_WALLET_KAMU -> wallet Core Coin (XCB) kamu.
# Precedence: env vars > pool.cfg > CLI.
wallet=GANTI_DENGAN_WALLET_KAMU
worker=pool
server[1]=sg.catchthatrabbit.com
port[1]=8008
server[2]=hk.catchthatrabbit.com
port[2]=8008
server[3]=de.catchthatrabbit.com
port[3]=8008
# threads=4
# light=true
# no_jit=false
# large_pages=true
# log_level=1